build-WordclockSimulator-Desktop_Qt_5_12_9_MSVC2015_64bit-Debug
build-WordclockSimulator-Desktop_Qt_5_12_9_MSVC2015_64bit-Release
build-WordclockSimulator-Desktop_Qt_5_12_9_MinGW_64_bit-Debug
build-WordclockSimulator-Desktop_Qt_5_12_9_MinGW_64_bit-Release
build-WordclockSimulator-Desktop-Debug
build-WordclockSimulator-Desktop-Release